# Frontend
frontend/node_modules/
frontend/dist/
frontend/.env.local

# Backend
backend/target/
backend/.classpath
backend/.project
backend/.settings/
backend/.idea/
backend/*.iml
backend/src/main/resources/application.properties

# IDEs
.vscode/
.DS_Store
*.log
